---
#- name: Include OS-specific variables.
#  include_vars: "{{ ansible_os_family }}.yml"

- name: Check if EPEL repo is already configured.
  stat: path={{ epel_repofile_path }}
  register: epel_repofile_result
  when: ansible_os_family == 'RedHat'

- name: Install EPEL repo.
  yum:
    name: "{{ epel_repo_url }}"
    state: present
  register: result
  until: '"failed" not in result'
  retries: 5
  delay: 10
  when: ansible_os_family == 'RedHat' and not epel_repofile_result.stat.exists

- name: Import EPEL GPG key.
  rpm_key:
    key: "{{ epel_repo_gpg_key_url }}"
    state: present
  when: ansible_os_family == 'RedHat' and not epel_repofile_result.stat.exists

- name: Install required packages for munin (RedHat).
  yum: "name={{ munin_packages }} state=present"
  when: ansible_os_family == 'RedHat'

- name: Install required packages for munin (Debian).
  apt: "name={{ munin_packages }} state=present"
  when: ansible_os_family == 'Debian'

- name: create cert (Redhat)
  shell: /etc/ssl/certs/make-dummy-cert {{ munin_ssl_cert }} ; chmod 640 {{ munin_ssl_cert }} ; chgrp {{ munin_web_user }} {{ munin_ssl_cert }}
  args:
    creates: "{{ munin_ssl_cert }}"
  when:
    - ansible_os_family == "RedHat"
    - munin_https == "enabled"

- name: create key (Redhat)
  shell: mkdir -p /etc/ssl/private ; cp -p {{ munin_ssl_cert }} {{ munin_ssl_key }} # noqa 302
  args:
    creates: "{{ munin_ssl_key }}"
  when:
    - ansible_os_family == "RedHat" # noqa 302
    - munin_https == "enabled"

- name: Install apache
  include: "server_apache.yml"
  when: munin_web_server == "apache2"

- name: Install nginx
  include: "server_nginx.yml"
  when: munin_web_server == "nginx"

- name: Copy munin configurations.
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - src: munin.conf.j2
      dest: /etc/munin/munin.conf
    - src: hosts.conf.j2
      dest: "{{ munin_conf_d_directory }}/hosts.conf"

- name: Set htpasswd for gui users
  htpasswd: path=/etc/munin/htpasswd.users name={{ item.user }} password={{ item.pass }} state=present
  with_items: "{{ munin_users | default([]) }}"

- name: Set htpasswd for gui users from users variable
  htpasswd: crypt_scheme=plaintext path=/etc/munin/htpasswd.users name={{ item.username }} password={{ item.htpasswd }} state=present
  when: munin_admins_group in item.groups
  with_items: "{{ users | default([]) }}"
  changed_when: False

- name: Enable or disable the munin cron job.
  lineinfile:
    dest: /etc/cron.d/munin
    state: "{{ munin_cron_job }}"
    regexp: "^\\*/5 \\* \\* \\* \\*"
    line: "*/5 * * * *     munin test -x /usr/bin/munin-cron && /usr/bin/munin-cron"
