- name: stop nginx
  service: name=nginx state=stopped enabled=no
  ignore_errors: yes

- name: install the apache package
  package: name={{ munin_apache_service }} state=present

- name: create apache sites-available
  file:
    path: "{{ munin_apache_dir }}/sites-available"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: create apache sites-enabled
  file:
    path: "{{ munin_apache_dir }}/sites-enabled"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: enable apache sites-enabled
  lineinfile: dest="{{ munin_apache_dir }}/conf/httpd.conf" line="IncludeOptional sites-enabled/*.conf"
  when: ansible_os_family == 'RedHat'

- name: enable apache
  service: name={{ munin_apache_service }} enabled=yes

- name: enabled mod_ssl
  apache2_module: name=ssl state=present
  when:
    - ansible_os_family == 'Debian'
    - munin_https == 'enabled'
  notify:
    - restart apache

- name: enabled mod_rewrite
  apache2_module: name=rewrite state=present
  when: ansible_os_family == 'Debian'
  notify:
    - restart apache

- name: enabled mod_cgid for dynazoom
  apache2_module: name=cgid state=present
  when: ansible_os_family == 'Debian'
  notify:
    - restart apache

- name: enabled mod_cgi for dynazoom
  apache2_module: name=cgi state=present
  when: ansible_os_family == 'Debian'
  notify:
    - restart apache
  ignore_errors: yes

- name: install libcgi-fast-perl for dynazoom
  package: name=libcgi-fast-perl state=present
  when: ansible_os_family == 'Debian'
  notify:
    - restart apache

#From 2016. Let's comment out for now.
#- name: fix permissions for dynazoom
#  command: chown apache.munin /var/log/munin
#  when: ansible_os_family == 'RedHat'
#  changed_when: false

#openid stub code
#- name: Install openid
#  include_tasks: "../../apache2/tasks/mod_auth_openid.yml"
#  when: munin_server_auth_method == "openid" 

- name: apache24 munin config, differs from apache22
  template:
    src: apache24.conf.j2
    dest: "{{ munin_basedir }}/apache24.conf"
    owner: root
    group: root
    mode: 0644
  notify: restart apache
  when: ansible_os_family == 'Debian'

#only Debian7
- name: Debian7 apache munin config symlink
  file: src="{{ munin_basedir }}/apache24.conf" dest="{{ munin_apache_dir }}/conf.d/munin.conf" state=link
  notify: restart apache
  when:
    - ansible_distribution == 'Debian'
    - ansible_distribution_major_version|int <= 7
    #- ansible_lsb.major_release|int <= 7

#only Debian7
- name: check release version
  set_fact:
    Debian7: True
  when:
    - ansible_distribution == 'Debian'
    - ansible_distribution_major_version|int <= 7
    #- ansible_lsb.major_release|int <= 7

- name: apache24 munin config symlink
  file: src="{{ munin_basedir }}/apache24.conf" dest="{{ munin_apache_dir }}/conf-available/munin.conf" state=link
  notify: restart apache
  when: ansible_os_family == 'Debian' and Debian7 is not defined

- name: apache24 munin conf-enabled symlink
  file: src="{{ munin_apache_dir }}/conf-available/munin.conf" dest="{{ munin_apache_dir }}/conf-enabled/munin.conf" state=link
  notify: restart apache
  when: ansible_os_family == 'Debian' and Debian7 is not defined

- name: apache24 centos7 config file for dynazoom
  template:
    src: apache24centos7.conf.j2
    dest: "{{ munin_apache_dir }}/conf.d/munin.conf"
    owner: root
    group: root
    mode: 0644
  notify: restart apache
  when:
    - ansible_os_family == 'RedHat'

- name: Adding user apache to munin group for dynazoom
  user: name=apache
    group=apache
    groups=munin
    append=yes
  when:
    - ansible_os_family == 'RedHat'

# Put SELinux in permissive mode, logging actions that would be blocked, to fix dynazoom.
- name: selinux permissive
  selinux:
    policy: targeted
    state: permissive
  when: ansible_os_family == "RedHat"
  ignore_errors: yes

- name: apache vhost template
  template:
    src: apache2.conf.j2
    dest: "{{ munin_apache_dir }}/sites-available/munin.conf"
    owner: root
    group: root
    mode: 0644
  notify: restart apache

- name: apache dissite 000-default
  file: dest="{{ munin_apache_dir }}/sites-enabled/000-default" state=absent
  notify: restart apache

- name: apache dissite 000-default.conf
  file: dest="{{ munin_apache_dir }}/sites-enabled/000-default.conf" state=absent
  notify: restart apache

- name: ensite munin
  file: src="{{ munin_apache_dir }}/sites-available/munin.conf" dest="{{ munin_apache_dir }}/sites-enabled/munin.conf" state=link
  notify: restart apache

- name: start apache
  service: name={{ munin_apache_service }} state=started
